<!-- Modal Ingreso Productos para movil -->
<div class="modal fade" id="modIngresoProd" tabindex="-1" role="dialog" aria-labelledby="tituloModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title font-weight-bolder" id="tituloModal">Ingreso Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

          <div class="row">
            <div class="col-4">
              <p class="p-modal">Seleccione:</p>
            </div>
            <div class="col">
              <select name="selTipoProd" id="selTipoProd" class="form-control form-control-sm">
                {% for tipo in tiposprod %}
                  <option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <select name="selProductos" id="selProductos" class="form-control form-control-sm">
                <option value=0>Selec. tipo</option>
                {% for prod in productos %}
                  {% if prod.id_TipoProducto == 1 %}
                    <option value="{{ prod.id }}">{{ prod.descripcion }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div> {# /row #}

          <div class="row mt-1">
            <div class="col-4">
              <p class="p-modal">Medidas placas:</p>
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm text-right" id="placaMedidaAncho" name="placaMedidaAncho" placeholder="Ancho" disabled>
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm text-right" id="placaMedidaAlto" name="placaMedidaAlto" placeholder="Alto" disabled>
            </div>
          </div> {# /row #}

          <div class="row mt-1">
            <div class="col-4">
              <p class="p-modal">Concepto trabajo:</p>
            </div>
            <div class="col">
              <input type="text" class="form-control form-control-sm" id="conceptoTrabajo">
            </div>
          </div> {# /row #}

          <div class="row">
            <div class="col-4 pt-4">
              <p class="p-modal">Medidas:</p>
            </div>
            <div class="col">
              <label for="anchoTrabajo" class="p-modal mb-0 float-right">Ancho</label>
              <input type="text" class="form-control form-control-sm text-right" id="anchoTrabajo">
            </div>
            <div class="col">
              <label for="altoTrabajo" class="p-modal mb-0 float-right">Alto</label>
              <input type="text" class="form-control form-control-sm text-right" id="altoTrabajo">
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col">
              <label for="mts2Trabajo" class="p-modal mb-0 float-right">Mts/Mts2.</label>
              <input type="text" class="form-control form-control-sm text-right" id="mts2Trabajo" name="mts2Trabajo" disabled>
            </div>
            <div class="col">
              <button id="btnCalculaModal" type="button" class="btn btn-sm btn-warning float-right" style="margin-top: 21px;">Calcular</button>
            </div>
          </div> {# /row #}

          <div class="row mt-3">
            <div class="col-2">
              <p class="p-modal">Cantidad placas sugeridas:</p>
            </div>
            <div class="col">
              <table id="tableModal" class="table table-bordered table-sm">
                <thead class="headTabModal">
                  <tr>
                    <th scope="col" class="text-right">Ancho</th>
                    <th scope="col" class="text-right">Alto</th>
                    <th scope="col" class="text-right">Total</th>
                    <th scope="col" class="text-right">Cubre Mts/2</th>
                    <th scope="col" class="text-right">Precio x M2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="trTabModal">
                    <td class="text-right" id="tdCantPlacSugAncho">0</td>
                    <td class="text-right" id="tdCantPlacSugAlto">0</td>
                    <td class="text-right" id="tdCantPlacSugCant">0</td>
                    <td class="text-right" id="tdPlacasCubrenMts2">0</td>
                    <td class="text-right" id="tdPlacaPrecioXmt2">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> {# /row #}   

          <div class="row">
            <div class="col-3">
              <label class="p-modal" for="selEstado">Estado:</label>
            </div>
            <div class="col-6">
              <select name="selEstado" id="selEstado" class="form-control form-control-sm">
                {% for estado in estadosItem %}
                  <option value="{{ estado.id }}">{{ estado.descripcion }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="altoTrabajo" class="p-modal">Total:</label>
            </div>
            <div class="col-6">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend input-group-sm">
                  <span class="input-group-text">$</span>
                </div>
                <input id="importeProd" class="form-control form-control-sm cell-right" type="text">
              </div>
            </div>
          </div> {# /row #}

      </div>  {# /modal-body #}

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancela</button>
        <button id="btnConfirmaModalProds" type="button" class="btn btn-sm btn-primary">Confirma</button>
      </div>

    </div>
  </div>
</div>