{% extends 'base_mobile.twig' %}

{% block head %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ base_url() }}/css/toastr.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/jquery-confirm.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/all.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/presupuesto_mobile.css?ver=0.0.4">

{% endblock %}	

{% block title %} {{ titulo }} {% endblock %} 

{% block navigation %}
		{% include 'clientes/nav_cliente.twig' %}
{% endblock %}

{% block content %}
	<div class="container-fluid" id="fondoComun">

		<h3 class="text-right font-weight-bold pr-2">Presupuesto</h3>
		<hr class="mt-3 mb-1" />

		{# FORMULARIO #}
		<form id="form_comprob">
			{# Para CSRF control #}
			{{ csrf.field | raw }}
			<input type="hidden" name="id" id="id">
			<input type="hidden" name="nroComprobante" id="nroComprobante">
			<input type="hidden" name="id_cliente" id="id_cliente" value="0">
			<input type="hidden" name="importe" id="importe">

			<div class="row">
				{# SUCURSAL #}
				<div class="col-3 mt-3 col-label">
					<label class="lblPresup" for="idSucursal">Sucursal</label>
				</div>		
				<div class="col-5 mt-3">
					<select class="form-control form-control-sm" id="idSucursal" name="idSucursal">
						{% for suc in sucursales %}
							<option value="{{ suc.id }}">{{ suc.localidad }} ({{ suc.nroSucursal }})</option>
						{% endfor %}
					</select>
				</div>
				{# ID PRESUPUESTO #}
				<div class="col-1 mt-3 col-label">
					<label class="lblPresup" for="idComprobPant">ID</label>
				</div>
				<div class="col-3 mt-3">
					<input type="text" class="form-control form-control-sm text-right" id="idComprobPant" name="idComprobPant" disabled="true">
				</div>						
			</div>
			<div class="row">
				{# FECHA #}
				<div class="col-3 mt-2 col-label">
					<label class="lblPresup" for="fecha">Fecha</label>
				</div>
				<div class="col-5 mt-2">
				    <input type="date" class="form-control form-control-sm" id="fecha" name="fecha">
				</div>
			</div>

			<hr class="mt-4" />

			<div class="row">
				{# COMPROBANTE (Estado) #}
				<div class="col-3 mt-2 col-label">
					<label class="lblPresup" for="idTipoComprobante">Tipo Comp.</label>
				</div>		
				<div class="col-8 mt-2">
					<select class="form-control form-control-sm font-weight-bold" id="idTipoComprobante" name="idTipoComprobante">
						{% for tipo in tiposCompr %}
							<option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				{# ESTADO (Estado) #}
				<div class="col-3 mt-2 col-label">
					<label class="lblPresup" for="idEstado">Estado</label>
				</div>		
				<div class="col-8 mt-2">
					<select class="form-control form-control-sm" id="idEstado" name="idEstado">
						{% for estado in estadosCompr %}
							<option value="{{ estado.id }}">{{ estado.descripcion }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col mt-1 mb-0">
					<div class="accordion" id="accordionFechas">
						<div class="card ml-2 mr-3 cardOtrasFechas" style="border: none;">
							<div class="card-header mb-0" id="otrasFechas" style="background: #faf4ee; border: none;">
									<button type="button" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#collapseOtrasFechas" aria-expanded="true" aria-controls="collapseOtrasFechas">Fechas Modificado, Anulado</button>
							</div>

							<div id="collapseOtrasFechas" class="collapse" aria-labelledby="otrasFechas" data-parent="#accordionFechas">
				      			<div class="card-body pt-0" style="background: #faf4ee;">
									<div class="row mb-0">
										{# FECHA ULTIMA MODIFICACION #}
										<div class="col-4 mt-1 col-label">
											<label class="lblPresup" for="fechaUltimoCambio">Modificado</label>
										</div>
										<div class="col-8 mt-1">
										    <input type="date" class="form-control form-control-sm" id="fechaUltimoCambio" name="fechaUltimoCambio" disabled>
										</div>
									</div>
									<div class="row">
										{# FECHA ANULACION #}
										<div class="col-4 mt-2 col-label">
											<label class="lblPresup" for="fechaAnulaoElimina">Anulado</label>
										</div>
										<div class="col-8 mt-2">
										    <input type="date" class="form-control form-control-sm" id="fechaAnulaoElimina" name="fechaAnulaoElimina" disabled>
										</div>
									</div>

								</div>
							</div>
						</div>		{# /card #}
					</div>
				</div>
			</div>

			<hr class="mt-1 mb-1"/>

			<div class="row">
				{# NOMBRE #} 	
				<div class="col-10 offset-1 mt-1">
					<div class="input-group input-group-sm mt-2">
    					<input id="nombre" name="nombre" class="form-control form-control-sm font-weight-bold" type="text" autocomplete="off" spellcheck="false" placeholder="APELLIDO Nombre">
						<div class="input-group-append input-group-sm">
							<button class="btn btn-sm btn-primary" type="button" id="btnBuscarCli" data-toggle="tooltip" data-placement="top" title="Buscar cliente">Buscar</button>
						</div>
					</div>
    			</div>
			</div>
			<div class="row">
				{# DOMICILIO #} 	
				<div class="col-10 offset-1 mt-2">
    				<input id="domicilio" name="domicilio" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Domicilio">
    			</div>
			</div>

			<div class="collapse" id="collapseMoreData">
				<div class="row">
					{# LOCALIDAD #} 	
					<div class="col-10 offset-1 mt-2">
	    				<input id="localidad" name="localidad" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Localidad">
	    			</div>
				</div>
				<div class="row">
					{# PROVINCIA #}
					<div class="col-10 offset-1 mt-2">
						<select class="form-control form-control-sm" id="provincia" name="provincia">
							{% for prov in provincias %}
								<option value="{{ prov.nombre }}">{{ prov.nombre }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row">
					{# PAIS #}
					<div class="col-10 offset-1 mt-2">
						<select class="form-control form-control-sm" id="pais" name="pais">
								<option value="1">Argentina</option>
								<option value="2">Uruguay</option>
						</select>
					</div>
				</div>
				<div class="row">
					{# CODIGO POSTAL #}
					<div class="col-10 offset-1 mt-2">
    					<input id="codPostal" name="codPostal" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Cod. Postal">
					</div>
				</div>
				<div class="row">
					{# TELEFONO #}
					<div class="col-10 offset-1 mt-2">
    					<input id="telefono" name="telefono" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Teléfono">
					</div>
				</div>
				<div class="row">
					{# CELULAR #}
					<div class="col-10 offset-1 mt-2">
    					<input id="celular" name="celular" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Celular">
					</div>
				</div>
				<div class="row">
					{# CUIT / DNI #}
					<div class="col-10 offset-1 mt-2">
    					<input id="cuitdni" name="cuitdni" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Cuit/DNI">
					</div>
				</div>
				<div class="row">
					{# CONTACTO #} 	
					<div class="col-10 offset-1 mt-2">
	    				<input id="contacto" name="contacto" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="Contacto">
	    			</div>

					{# E-MAIL #}
					<div class="col-10 offset-1 mt-2">
    					<input id="email" name="email" class="form-control form-control-sm" type="text" autocomplete="off" spellcheck="false" placeholder="E-mail">
					</div>
				</div>
			</div>  {# /end collapse #}

			<div class="row">
				{# DOMICILIO #} 	
				<div class="col-10 offset-1 mt-1">
    				<button id="btnMasDatos" class="btn btn-warning btn-sm mt-1" type="button" data-toggle="collapse" data-target="#collapseMoreData" aria-expanded="false" aria-controls="collapseMoreData">Más Datos...</button>
    			</div>
    		</div>

		</form>

		<div class="row" id="etiquetas">
			<div class="col">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col ml-2 mr-2">
				{# COLLAPSE DE TIPOS DE COMPROBANTE #}
				<div class="accordion" id="acordionTipoComprobante">
					<div class="card">
						<div class="card-header" id="registroVisita">
							<button class="btn btn-sm btn-primary dropdown-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="btnCollapseRegistro">
								Registro de Visitas
							</button>
						</div>

						<div id="collapseOne" class="collapse" aria-labelledby="registroVisita" data-parent="#acordionTipoComprobante">
							<div class="card-body">

								{% include 'presupuesto/tab_registro_mobile.twig' %}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<button class="btn btn-sm btn-primary dropdown-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="btnCollapsePresup">
								Presupuesto
				        	</button>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#acordionTipoComprobante">
							<div class="card-body">

								{% include 'presupuesto/tab_presupuesto_mobile.twig' %}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<button class="btn btn-sm btn-primary dropdown-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="btnCollapseOrden">
								Orden de Trabajo
				        	</button>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#acordionTipoComprobante">
							<div class="card-body">

								{% include 'presupuesto/tab_orden_mobile.twig' %}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFour">
							<button class="btn btn-sm btn-primary dropdown-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="btnCollapseFotos">
								Ingreso Fotos
				        	</button>
						</div>
						<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#acordionTipoComprobante">
							<div class="card-body">

								{% include 'presupuesto/tab_fotos_mobile.twig' %}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFive">
							<button class="btn btn-sm btn-primary dropdown-toggle collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="btnCollapseExtras">
								Extras
				        	</button>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#acordionTipoComprobante">
							<div class="card-body">

								{% include 'presupuesto/tab_extras_mobile.twig' %}
							</div>
						</div>
					</div>
				</div> 		{# /end acordion #}


			</div>
		</div>

		<div class="row">
			<div class="col">
				<hr>
			</div>
		</div>

		<div class="row">
			{# OBSERVACIONES GENERALES #}
			<div class="col m-1">
				<label class="lblPresup" for="observGenerales">Observaciones Generales</label>
				<textarea class="form-control" id="observGenerales" name="observGenerales" rows="2"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col mt-2">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 mb-3">
	  			<button id="btnConfirma" class="btn btn-primary btn-sm ml-2">Confirmar</button>
	  			<a id="btnCancela" class="btn btn-secondary btn-sm ml-3" href="{{ path_for('presupuesto') }}" role="button">Cancelar</a>
	  			<button id="btnImprime" class="btn btn-success btn-sm ml-3" disabled="true">Generar PDF</button>
	  		</div>

			<div class="col-4">
				{% include 'partes/spinnerGuardar.twig' %}
			</div>
		</div>

	</div>    {# /container #}

	{% include 'presupuesto/modal_ver_foto.twig' %}
	{% include 'presupuesto/modal_ingreso_prod_mobile.twig' %}

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script src="{{ base_url() }}/js/jquery.inputmask.bundle.min.js"></script>
	<script src="{{ base_url() }}/js/toastr.min.js"></script>
	<script src="{{ base_url() }}/js/jquery-confirm.min.js"></script>
	<script src="{{ base_url() }}/js-app/common.js"></script>

    <script type="text/javascript">
    	// Paths
    	var PRESUP = {
    	    pathGuardar:      "{{ path_for('presupuesto.guardar') }}",
    	    pathGuardarRegist:"{{ path_for('presupuesto.guardarregistro') }}",
    	    pathGuardarPresup:"{{ path_for('presupuesto.guardarpresupuesto') }}",
    	    pathGuardarAmbien:"{{ path_for('presupuesto.guardarambiente') }}",
    	    pathGuardarProduc:"{{ path_for('presupuesto.guardarproductos') }}",

    	    pathPresup:       "{{ path_for('presupuesto') }}",
    	    pathPresupBuscar: "{{ path_for('presupuesto.buscar') }}",

    	    pathGetComprob:   "{{ path_for('presupuesto.getcomprobante', {id: ''}) }}",
    	    pathGetRegistro:  "{{ path_for('presupuesto.getregistro', {id: ''}) }}",
    	    pathGetPresupuesto:"{{ path_for('presupuesto.getpresupuesto', {id: ''}) }}",
    	    pathGetAmbientes:  "{{ path_for('presupuesto.getambientes', {id: ''}) }}",
    	    pathGetProductos:   "{{ path_for('presupuesto.getproductos', {id: ''}) }}",

    	    pathImprimir:     "{{ path_for('presupuesto.imprimir') }}",
    	    pathBuscarCliente:"{{ path_for('cliente.buscar') }}",
    	    pathGetCliente:   "{{ path_for('cliente.getcliente') }}",
    	    pathGuardarFoto:  "{{ path_for('presupuesto.guardarfoto') }}",
    	    pathBorrarFoto:   "{{ path_for('presupuesto.borrarfoto') }}",
    	    pathEliminaaAmb:  "{{ path_for('presupuesto.eliminaambiente', {id: ''}) }}",
    	    fecha:            "{{ fecha }}",
    	    id_presup:        "{{ id_presup }}",
    	    isMobile:		  "{{ isMobile }}",
    	    guardado:         false,
    	    listaDeFotos:     [],
    	    nuevasFotos:      [],
    	    productos:        [],
    	    estadosItem       []
    	};

		let obj = {};
		{% for prod in productos %}
			obj.id = "{{ prod.id }}";
			obj.descripcion = "{{ prod.descripcion }}";
			obj.idTipoProd  = "{{ prod.id_TipoProducto }}";
			obj.ancho = parseFloat( "{{ prod.ancho }}" ) || 0;
			obj.alto = parseFloat( "{{ prod.alto }}" ) || 0;
			obj.mts = parseFloat( "{{ prod.mts }}" ) || 0;
			obj.precio = parseFloat( "{{ prod.precioXmt2 }}" ) || 0;
			PRESUP.productos.push( obj );
			obj = {};
		{% endfor %}

		{% for estado in estadosItem %}
			PRESUP.estadosItem.push(estado);
		{% endfor %}

	</script>

	<script type="module" src="{{ base_url() }}/js-app/presupuesto/presupuesto.js?ver=0.2.8"></script>
{% endblock %}
