<div class="marco-tabs">
	<form id="form_presup1">
		{# Para CSRF control #}
		{{ csrf.field | raw }}

		<div class="row">
			{# REALIZADO POR #}
			<div class="col-sm-2 mt-4 col-label">
				<label class="lblPresup" for="idEmpleado">Realizado por</label>
			</div>
			<div class="col-sm-4 mt-4">
				<select class="form-control form-control-sm" id="idEmpleado" name="idEmpleado">
					<option value="0">Seleccione empleado...</option>
					{% for empl in empleados %}
						<option 
							value="{{ empl.id }}"
							{% if empl.id == data.presupuesto.idEmpleado %} selected {% endif %}>
							{{ empl.apellidoNombre }}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="row">
			{# FECHA PRESUPUESTO #}
			<div class="col-sm-2 mt-2 col-label">
				<label class="lblPresup" for="fechaPresup">Fecha Presupuesto</label>
			</div>
			<div class="col-sm-3 mt-2">
			    <input type="date" class="form-control form-control-sm" id="fechaPresup" name="fechaPresup" value="{{ data.presupuesto.fechaPresup }}">
			</div>
			{# FECHA VISITA #}
			<div class="col-sm-2 offset-sm-1 mt-2 col-label">
				<label class="lblPresup" for="fechaVencimiento">Fecha Vencimiento</label>
			</div>
			<div class="col-sm-3 mt-2">
			    <input type="date" class="form-control form-control-sm" id="fechaVencimiento" name="fechaVencimiento" value="{{ data.presupuesto.fechaVencimiento }}">
			</div>
		</div>

	</form>    {# fin form_presup1 #}

	<div class="row">
		{# DETALLE PRESUPUESTO #}
		<div class="col m-4">
			<div class="accordion" id="accordionAmbientes">
				<div class="card" id="idCardAmb-1">		{# Cada Card es un ambiente #}
					<div class="card-header" id="cardHeader-1">
						<h2 class="mb-0">
							<button id="btnTituloAmb-1" type="button" class="btn btn-link btn-sm font-weight-bold" data-toggle="collapse" data-target="#collapseAmb-1" aria-expanded="true" aria-controls="collapseAmb-1">Ambiente 1</button>
						</h2>
					</div>
					<div id="collapseAmb-1" class="collapse show" aria-labelledby="cardHeader-1" data-parent="#accordionAmbientes">
		      			<div class="card-body">
		      				<div class="row">
								<div class="col ml-1 mr-1 mb-2">
									<label class="lblPresup mt-0 mb-0" for="conceptoAmbiente-1">Concepto</label>
		      						<textarea id="conceptoAmbiente-1" class="form-control form-control-sm concepto" placeholder="Ingrese conceptos ambiente 1" rows="1"></textarea>
								</div>
							</div>

							{% include 'presupuesto/divTablaProductosAmbiente.twig' %}

		      				<button id="btnAgregarProdsAmbiente" onclick="PRESUP.onClickBtnAgregarProd(1);" type="button" class="btn btn-sm btn-primary ml-1">Agregar producto</button>
		      				{# NO HAY CARD-FOOTER - (No se puede borrar el ambiente 1) #}
						</div>	{# /card-body #}

						<div class="card-footer">
							<div class="d-flex justify-content-end mb-2">
								{# IMPORTE DEL AMBIENTE #}
								<label class="lblPresup mr-2" for="importeAmbiente-1">Importe Ambiente 1</label>
								<div>
									<div class="input-group input-group-sm">
										<div class="input-group-prepend input-group-sm">
											<span class="input-group-text">$</span>
										</div>
										<input id="importeAmbiente-1" class="form-control form-control-sm cell-right" type="text">
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-end">
								<button id="btnEliminaAmbiente-1" 
										onclick="PRESUP.onClickBtnEliminaAmb(1)"
										type="button" 
										class="btn btn-sm btn-danger">
									Eliminar ambiente 1
								</button>
							</div>

						</div>  {# /card-footer #}
					</div>
				</div>		{# /card id="idCardAmb-1" #}       {# Aqui, abajo, se agregan los otros Ambientes #}
			</div>		{# /acordionAmbientes #}
		</div>
	</div>   {# /row DETALLE PRESUPUESTO #}

	<div class="row">
		<div class="col ml-4 mr-4 mt-n2">
			<button id="btnAgregarAmbiente" type="button" class="btn btn-sm btn-warning">Agregar Ambiente</button>
		</div>
	</div>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr />
		</div>
	</div>

	<form id="form_presup2">
		<div class="row">
			{# TOTAL REVESTIMIENTO #}
			<div class="col-sm-3 mt-1 col-label">
				<label class="lblPresup" for="totalMts2Revest">Total Mts2. Revestimiento</label>
			</div>
			<div class="col-sm-2 mt-1">
			    <input type="text" class="form-control form-control-sm cell-right" id="totalMts2Revest" name="totalMts2Revest" value="{{ data.presupuesto.totalMts2Revest }}">
			</div>
		</div>

		<div class="row">
			{# TOTAL CIELORRASO #}
			<div class="col-sm-3 mt-1 col-label">
				<label class="lblPresup" for="totalMts2Cielorraso">Total Mts2. Cielorraso</label>
			</div>
			<div class="col-sm-2 mt-1">
			    <input type="text" class="form-control form-control-sm cell-right" id="totalMts2Cielorraso" name="totalMts2Cielorraso" value="{{ data.presupuesto.totalMts2Cielorraso }}">
			</div>
			{# IMPORTE #}
			<div class="col-sm-1 offset-sm-2 mt-2">
				<label class="lblPresup" for="importePresup">Importe</label>
			</div>							
			<div class="col-sm-3 mt-2">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend input-group-sm">
						<span class="input-group-text">$</span>
					</div>
					<input id="importePresup" name="importePresup" class="form-control form-control-sm cell-right" type="text" value="{{ data.presupuesto.importePresup }}">
				</div>
			</div>
		</div>

		<div class="row">
			{# TOTAL MOLDURAS #}
			<div class="col-sm-3 col-label">
				<label class="lblPresup" for="totalMtsMolduras">Total Mts. Molduras</label>
			</div>
			<div class="col-sm-2">
			    <input type="text" class="form-control form-control-sm cell-right" id="totalMtsMolduras" name="totalMtsMolduras" value="{{ data.presupuesto.totalMtsMolduras }}">
			</div>
		</div>

		<div class="row">
			<div class="col ml-4 mr-4 mt-0">
				<hr />
			</div>
		</div>

		<div class="row">
			{# FORMA DE PAGO #}
			<div class="col-sm-10 offset-sm-1 d-flex flex-column">
				<label class="lblPresup" for="formaDePago">Forma de Pago</label> 
				<textarea class="form-control" id="formaDePago" name="formaDePago" rows="1">{{ data.presupuesto.formaDePago }}</textarea>
			</div>
		</div>

	{# AGREGAR VALOR POR METRO CUADRADO #}

		<div class="row">
			{# ENTREGA/SEÑA #}
			<div class="col-sm-1 offset-sm-7 mt-4 col-label">
				<label class="lblPresup text-right" for="entrega">Entrega/Seña</label>
			</div>							
			<div class="col-sm-3 mt-4">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend input-group-sm">
						<span class="input-group-text">$</span>
					</div>
					<input id="entrega" name="entrega" class="form-control form-control-sm cell-right" type="text" value="{{ data.presupuesto.entrega }}">
				</div>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr />
		</div>
	</div>

	<div class="d-flex justify-content-center mb-4">
		<button id="btnSalvarPresup" 
				onclick="PRESUP.onClickBtnSalvarPresup();"
				type="button" 
				class="btn btn-sm btn-success">
			Guardar presupuesto
		</button>
		<button id="btnImprimePresupuesto" 
				onclick="PRESUP.onClickBtnImprimir('presupuesto');"
				class="btn btn-info btn-sm ml-3"
				{% if data.presupuesto.idEmpleado == 0 %} disabled {% endif %}>
			Imprimir
		</button>
	</div>

</div>
