<form id="form_registro">
	{# Para CSRF control #}
	{{ csrf.field | raw }}

	<div class="row">
		{# REALIZADO POR #}
		<div class="col-4 mt-4 col-label">
			<label class="lblPresup" for="idEmpleado">Realizado por</label> 
		</div>
		<div class="col-8 mt-4">
			<select class="form-control form-control-sm" id="idEmpleado" name="idEmpleado">
				<option value="0">Seleccione empleado...</option>
				{% for empl in empleados %}
					<option 
						value="{{ empl.id }}"
						{% if data.registro.idEmpleado == empl.id %} selected {% endif %}>
						{{ empl.apellidoNombre }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row">
		{# DETALLE REGISTRO #}
		<div class="col mt-2 mr-3 col-label d-flex flex-column">
			<label class="lblPresup" for="detalle">Detalle visita</label> 
			<textarea class="form-control" id="detalle" name="detalle" rows="3">{{ data.registro.detalle }}</textarea>
		</div>
	</div>

	<div class="row">
		{# FECHA TENTATIVA VISITA #}
		<div class="col-5 mt-3 col-label">
			<label class="lblPresup" for="fechaTentativa">Fecha Tentativa Visita</label>
		</div>
		<div class="col-7 mt-3">
		    <input 
		    	type="date" 
		    	class="form-control form-control-sm text-right" 
		    	id="fechaTentativa" 
		    	name="fechaTentativa"
		    	value="{{ data.registro.fechaTentativa }}">
		</div>
	</div>
	<div class="row">
		{# FECHA VISITA #}
		<div class="col-5 mt-1 col-label">
			<label class="lblPresup" for="fechaVisita">Fecha Visita</label>
		</div>
		<div class="col-7 mt-1">
		    <input 
		    	type="date" 
		    	class="form-control form-control-sm text-right" 
		    	id="fechaVisita" 
		    	name="fechaVisita"
		    	value="{{ data.registro.fechaVisita }}">
		</div>
	</div>

	<div class="row">
		<div class="col mt-0">
			<hr />
		</div>
	</div>

	{# PREGUNTAS #}
	<div class="row">
		<div class="col mt-1 d-flex flex-column">
			<label class="lblPresup" for="queSolicita">¿Qué solicita?</label>
		    <input type="text" class="form-control form-control-sm" id="queSolicita" name="queSolicita" value="{{ data.registro.queSolicita }}">
		</div>
	</div>
	<div class="row">
		<div class="col mt-2 d-flex flex-column">
			<label class="lblPresup" for="comoContacto">¿Cómo nos contactó?</label>
		    <input type="text" class="form-control form-control-sm" id="comoContacto" name="comoContacto" value="{{ data.registro.comoContacto }}">
		</div>
	</div>
	<div class="row">
		<div class="col mt-2 d-flex flex-column">
			<label class="lblPresup" for="comoConocio">¿Cómo nos conoció?</label>
		    <input type="text" class="form-control form-control-sm" id="comoConocio" name="comoConocio" value="{{ data.registro.comoConocio }}">
		</div>
	</div>
	<div class="row">
		<div class="col mt-2 d-flex flex-column">
			<label class="lblPresup" for="conoceSistema">¿Conoce el sistema?</label>
		    <input type="text" class="form-control form-control-sm" id="conoceSistema" name="conoceSistema" value="{{ data.registro.conoceSistema }}">
		</div>
	</div>
	<div class="row">
		<div class="col mt-2 d-flex flex-column">
			<label class="lblPresup" for="comoNosComunic">¿Cómo nos comunicamos?</label>
		    <input type="text" class="form-control form-control-sm" id="comoNosComunic" name="comoNosComunic" value="{{ data.registro.comoNosComunic }}">
		</div>
	</div>
	<div class="row">
		<div class="col mt-2 d-flex flex-column">
			<label class="lblPresup" for="queUrgencia">¿Qué urgencia tiene?</label>
		    <input type="text" class="form-control form-control-sm" id="queUrgencia" name="queUrgencia" value="{{ data.registro.queUrgencia }}">
		</div>
	</div>

</form>

<div class="row">
	<div class="col mt-0">
		<hr />
	</div>
</div>

<div class="d-flex justify-content-center">
	<button id="btnGuardarRegistro" 
			onclick="PRESUP.onClickBtnGuardarRegistro(this);"
			type="button" 
			class="btn btn-sm btn-success">
		Guardar Registro Visita
	</button>
	<button id="btnImprimeRegistro" 
			onclick="PRESUP.onClickBtnImprimir('registro');"
			class="btn btn-info btn-sm ml-3"
			{% if data.registro.idEmpleado == 0 %} disabled {% endif %}>
		Imprimir
	</button>
</div>
